body{
 	margin: 0;
 	padding: 0;
 	overflow-x: hidden;
 	height: 100vh;
  position: relative;
  background-image: url("img/background.JPEG");

}
.govno{
  text-align: center;
  color: #fff;
}
#background-video {
  width: 200vw;
  height: 140vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
.title {
padding-top: 5rem;
padding-left: 5vw;
height: 40rem;

}
.blackbackground{
  background-color: black;
  width: 100%;
  height: 30rem;
  box-shadow: 5rem 5rem 5rem black;
}
.greybackground{
  background-color: #111;
  width: 100%;
  height: 30rem;
  border-bottom: 20px black solid;
}
.wrapper { 
        background:#EFEFEF; 
        box-shadow: 1px 1px 10px #999; 
        margin: auto; 
        text-align: center; 
        position: relative;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        margin-bottom: 20px !important;
        width: 800px;
        padding-top: 5px;
    }
    .scrolls { 
        overflow-x: scroll;
        overflow-y: hidden;
        height: 80px;
    white-space:nowrap
    } 
    .imageDiv img { 
        box-shadow: 1px 1px 10px #999; 
        margin: 2px;
        max-height: 50px;
        cursor: pointer;
    display:inline-block;
    *display:inline;
    *zoom:1;
    vertical-align:top;
    }
