body{
 margin: 0;
 padding: 0;
 overflow-x: hidden;
 height: 100vh;
 background: black;

}

html, body {
 overflow-x: hidden;
}
body {
 position: relative;
}
.govno{
  text-align: center;
  color: #fff;
}
#background-video {
  width: 200vw;
  height: 140vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  animation-duration: 4s;
 animation-name: slideintwo;
}
@keyframes slideintwo {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}

.title {
justify-content: center;
padding-top: 6rem;
width: 100%;
margin: auto;
height: 100vh;
}
.title img{
  margin: auto;
  display: block;
  width: 80vw;
  max-width: 600px;
  animation-duration: 2s;
 animation-name: slidein;
}
@keyframes slidein {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}
.blackbackground{
  background-color: black;
  width: 100vw;
  height: 30rem;
  box-shadow: 0rem 0rem 10rem 3rem black;
}
.greybackground{
  background-color: #111;
  width: 100vw;
  height: 32.6rem;
  border-top: 2em solid #111;
}
.greetings{
  width: 10rem;;
  max-width: 500px;
  display: block;
  margin: auto;
  height: 4rem;
  border-radius: 1rem;
  display: block;
  box-shadow: 0.5rem 0.5rem 3rem 1rem black;
}
.greetingsinner{
  display: flex;
         height: 1rem;
         margin: auto;
         border-radius: 10px;
         align-items:center;
         justify-content:center;
  color: #fff;
  font-size: 1.5rem;
  font-family: 'Unbounded', cursive;
  font-weight: 500;
  padding-top: 1.5rem;
}
.dottedline{
  width: 10rem;
  display: block;
  margin: auto;
  border-bottom: 2px dashed white;
  padding-top: 2rem;
  margin-bottom: 2rem;
}
.test{
  padding-top: 2rem;
}
.test img{
  display: block;
  margin: auto;
  border-radius: 10px;
    border: 1.5px solid white;
      box-shadow: 0.5rem 0.5rem 3rem 1rem black;
}

.container{
    background: #222;
    display: grid;
    padding-top: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    max-width: 1000px;
    margin: auto;
    border-left: solid 1.5rem #111;
    border-right: solid 1.5rem #111;
    border-top: solid 1.5rem #111;
    border-bottom: solid 1.5rem #111;
        box-shadow: 0rem 0.5rem 3rem 1rem black;
}
.item{
 display: block;
 margin: auto;
}
.item img{
  border-radius: 10px;
  border: 1.5px solid white;
  box-shadow: 0.2rem 0.2rem 5rem 0.2rem black;
  margin-bottom: 2rem;
  max-width: 17rem;
  width: 55vw;
  transition: 0.3s;
}
.item img:hover{

}
.gridwrapper{
  width: 100%;
  margin-top: 2rem;
}
.containersecond{
  display: grid;
  padding-top: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  max-width: 800px;
  margin: auto;
}
.itemsecond{
  display: block;
  margin: auto;
  max-width: 70vw;
  grid-gap: 2rem;
  font-family: 'Unbounded', cursive;
  color: white;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
}
.itemsecond p{
  text-shadow: 4px 4px 10px black;
  height: 15vw;
  max-height: 8rem;
}
.itemsecond img{
  height: 50vw;
  max-height: 300px;

}
.line{
  color: white;
  height: 0.1px;
  border: 2px dashed #fff;
  display: block;
  margin: auto;
  width: 70vw;
  margin-top: 1rem;
}
.containerthird{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  max-width: 800px;
  margin: auto;
}
.itemthird{
  display: block;
  margin: auto;
  max-width: 70vw;
  grid-gap: 2rem;
  margin-bottom: 3rem;
  ont-family: 'Comfortaa', cursive;
  font-family: 'Unbounded', cursive;
  font-weight: 600;
  color: white;
  text-align: center;
  font-size: 1rem;
}
.itemthird p{
  height: 15vw;
  max-height: 10rem;

}
.itemthird img{
  width: 50vw;
  max-width: 400px;
  padding-top: 1rem;
}
.greystripe{
  width: 100%;
  background: #111;
  box-shadow: 0.5rem 0.5rem 6rem 3rem black;
}
.example{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  padding-left: 2rem;
  max-width: 800px;
  margin: auto;
}

.example h1{
  font-family: 'Unbounded', cursive;
  font-weight: 900;
  color: #666;
  font-size: 3rem;
  padding-left: 2rem;
  max-width: 15rem;
  border-left: #666 solid 5px;
  transition: 0.25s;
  text-decoration: none;
}
.example a{
  text-decoration: none;
}
.example h1:hover{
  cursor: pointer;
  color: #fff;
  text-shadow: 0px 0px 10px white;
  border-left: #fff solid 5px;;
}
